<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BIST Akümülasyon Tarayıcı{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- TradingView Widget -->
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>
